<div class = "top-wrapper">
  <h1 class = "subject">Bicicletta Gate</h1>
  <p>主要メーカーの最新ロードバイクのカタログスペックを一括で比較</p>
  <p>
  <%repetition=1%>
  <%while repetition<=4 do %>
  <%="#{repetition}台目"%>
  <select id="maker">
      <option value="">--メーカー名 --</option>
      <option value="anchor">ANCHOR</option>
      <option value="argon18">Argon18</option>
      <option value="bianchi">Bianchi</option>
      <option value="bmc">BMC</option>
      <option value="bh">BH</option>
      <option value="cannondale ">Cannondale </option>
      <option value="carrera">CARRERA</option>
      <option value="canyon">Canyon</option>
      <option value="cervelo">Cervelo</option>
      <option value="colnago">COLNAGO </option>
      <option value="corratec">Corratec</option>
      <option value="derosa">DE ROSA</option>
      <option value="felt">Felt</option>
      <option value="focus">Focus</option>
      <option value="giant">GIANT </option>
      <!--GIOSがない-->
      <option value="kuota">KUOTA</option>
      <option value="lapierre">Lapierre</option>
      <option value="look">LOOK</option>
      <option value="merida">MERIDA</option>
      <option value="orbea">ORBEA</option>
      <option value="pinarero">PINARELLO</option>
      <option value="ridley">RIDLEY</option>
      <option value="specialized">Specialized</option>
      <option value="scott">SCOTT</option>
      <option value="trek">TREK</option>
      <option value="time">TIME</option>
      <option value="wilier ">Wilier </option>
  </select>
  <select id="name">
      <option value="">-- バイク名 --</option>
      <!--ここからメリダ-->
      <!--SCULTURA-->
      <option value="SCULTURA 9000-E" data-maker="merida">SCULTURA 9000-E</option>
      <option value="SCULTURA TEAM" data-maker="merida">SCULTURA TEAM</option>
      <option value="SCULTURA DISC TEAM" data-maker="merida">SCULTURA DISC TEAM</option>
      <option value="SCULTURA 6000" data-maker="merida">SCULTURA 6000</option>
      <option value="SCULTURA 5000" data-maker="merida">SCULTURA 5000</option>
      <option value="SCULTURA 4000" data-maker="merida">SCULTURA 4000</option>
      <option value="SCULTURA DISC 4000" data-maker="merida">SCULTURA DISC 4000</option>
      <option value="SCULTURA 700" data-maker="merida">SCULTURA 700</option>
      <option value="SCULTURA DISC 700" data-maker="merida">SCULTURA DISC 700</option>
      <option value="SCULTURA 400" data-maker="merida">SCULTURA 400</option>
      <option value="SCULTURA 410" data-maker="merida">rSCULTURA 410</option>
      <option value="SCULTURA DISC 200" data-maker="merida">SCULTURA DISC 200</option>
      <option value="rSCULTURA 100" data-maker="merida">SCULTURA 100</option>
      <!--REACTO-->
      <option value="REACTO 7000-E" data-maker="merida">REACTO 7000-E</option>
      <option value="REACTO 5000" data-maker="merida">REACTO 5000</option>
      <option value="REACTO 4000" data-maker="merida">REACTO 4000</option>
      <option value="REACTO 400" data-maker="merida">REACTO 400</option>
      <!--RIDE-->
      <option value="RIDE 7000" data-maker="merida">RIDE 7000</option>
      <option value="RIDE 3000" data-maker="merida">RIDE 3000</option>
      <option value="RIDE 3100" data-maker="merida">RIDE 3100</option>
      <option value="RIDE 400" data-maker="merida">RIDE 400</option>
      <option value="RIDE 410" data-maker="merida">RIDE 410</option>
      <option value="RIDE 200" data-maker="merida">RIDE 200</option>
      <option value="RIDE 210" data-maker="merida">RIDE 210</option>
      <option value="RIDE 80" data-maker="merida">RIDE 80</option>
      <option value="RIDE DISC ADVENTURE-CF" data-maker="merida">RIDE DISC ADVENTURE-CF</option>
      <option value="RIDE DISC ADVENTURE" data-maker="merida">RIDE DISC ADVENTURE</option>
      <!--WARP-->
      <option value="WARP TRI 7000-E" data-maker="merida">WARP TRI 7000-E</option>
      <option value="WARP TRI 3000" data-maker="merida">WARP TRI 3000</option>
      <!--CYCLO CROSS-->
      <option value="CYCLO CROSS 9000" data-maker="merida">CYCLO CROSS 9000</option>
      <option value="CYCLO CROSS 6000" data-maker="merida">CYCLO CROSS 6000</option>
      <option value="CYCLO CROSS 500" data-maker="merida">CYCLO CROSS 500</option>
      <!--ここからビアンキ-->
      <!--PECIALISSIMA-->
      <option value="SPECIALISSIMA" data-maker="bianchi">SPECIALISSIMA</option>
      <!--OLTRE XR-->
      <option value="OLTRE XR.2SUPER RECORD COMPACT" data-maker="bianchi">OLTRE XR.2SUPER RECORD COMPACT</option>
      <option value="OLTRE XR.2CHORUS COMPACT" data-maker="bianchi">OLTRE XR.2CHORUS COMPACT</option>
      <option value="OLTRE XR.2DURA ACE MIX COMPACT" data-maker="bianchi">OLTRE XR.2DURA ACE MIX COMPACT</option>
      <option value="OLTRE XR.2ULTEGRA Di2 COMPACT" data-maker="bianchi">OLTRE XR.2ULTEGRA Di2 COMPACT</option>
      <option value="OLTRE XR.2FRAME" data-maker="bianchi">OLTRE XR.2FRAME</option>
      <option value="OLTRE XR.1ULTEGRA" data-maker="bianchi">OLTRE XR.1ULTEGRA</option>
      <option value="OLTRE XR.1105" data-maker="bianchi">OLTRE XR.1105</option>
      <!--SEMPRE-->
      <option value="SEMPRE PRO ULTEGRA" data-maker="bianchi">SEMPRE PRO ULTEGRA</option>
      <option value="SEMPRE PRO 105" data-maker="bianchi">SEMPRE PRO 105</option>
      <option value="SEMPRE PRO TIAGRA" data-maker="bianchi">SEMPRE PRO TIAGRA</option>
      <!--FENICE-->
      <option value="FENICE PRO ULTEGRA" data-maker="bianchi">FENICE PRO ULTEGRA</option>
      <option value="FENICE PRO 105" data-maker="bianchi">FENICE PRO 105</option>
      <option value="FENICE ELITE 105" data-maker="bianchi">FENICE ELITE 105</option>
      <option value="FENICE SPORT TIAGRA" data-maker="bianchi">FENICE SPORT TIAGRA</option>
      <!--INFINITO-->
      <option value="INFINITO CV SUPER RECORD COMPACT" data-maker="bianchi">INFINITO CV SUPER RECORD COMPACT</option>
      <option value="INFINITO CV ATHENA COMPACT" data-maker="bianchi">INFINITO CV ATHENA COMPACT</option>
      <option value="INFINITO CV DURA ACE COMPACT" data-maker="bianchi">INFINITO CV DURA ACE COMPACT</option>
      <option value="INFINITO CV SRAM RED COMPACT DISC" data-maker="bianchi">INFINITO CVSRAM RED COMPACT DISC</option>
      <option value="INFINITO CV ULTEGRA MIX" data-maker="bianchi">INFINITO CV ULTEGRA MIX</option>
      <option value="INFINITO CV FRAME" data-maker="bianchi">INFINITO CV FRAME</option>
      <option value="INFINITO CV DISC FRAME" data-maker="bianchi">INFINITO CV DISC FRAME</option>
      <option value="INTENSO105 COMPACT" data-maker="bianchi">INTENSO 105 COMPACT</option>
      <option value="INTENSO TIAGRA COMPACT" data-maker="bianchi">INTENSO TIAGRA COMPACT</option>
      <option value="INTENSO SORA COMPACT" data-maker="bianchi">INTENSO SORA COMPACT</option>
      <!--IMPULSO-->
      <option value="IMPULSO 105 COMPACT DISC" data-maker="bianchi">IMPULSO 105 COMPACT DISC</option>
      <option value="IMPULSO 105 COMPACT" data-maker="bianchi">IMPULSO 105 COMPACT</option>
      <option value="IMPULSO TIAGRA COMPACT" data-maker="bianchi">IMPULSO TIAGRA COMPACT</option>
      <option value="IMPULSO FLAT BAR DISC 105 COMPACT" data-maker="bianchi">IMPULSO FLAT BAR DISC 105 COMPACT</option>
      <!--VIA NIRONE-->
      <option value="VIA NIRONE 7 PRO 105 COMPACT" data-maker="bianchi">VIA NIRONE 7 PRO 105 COMPACT</option>
      <option value="VIA NIRONE 7 PRO TIAGRA COMPACT" data-maker="bianchi">VIA NIRONE 7 PRO TIAGRA COMPACT</option>
      <option value="VIA NIRONE 7 PRO SORA COMPACT" data-maker="bianchi">VIA NIRONE 7 PRO SORA COMPACT</option>
      <option value="VIA NIRONE 7 PRO CLARIS COMPACT" data-maker="bianchi">VIA NIRONE 7 PRO CLARIS COMPACT</option>
      <option value="VIA NIRONE 7 FLAT BAR TIAGRA COMPACT" data-maker="bianchi">VIA NIRONE 7 FLAT BAR TIAGRA COMPACT</option>
      <option value="VIA NIRONE 7 FLAT BAR SORA COMPACT" data-maker="bianchi">VIA NIRONE 7 FLAT BAR SORA COMPACT</option>
      <option value="VIA NIRONE 7 FLAT BAR CLARIS COMPACT" data-maker="bianchi">VIA NIRONE 7 FLAT BAR CLARIS COMPACT</option>
      <!--DAMA BIANCA-->
      <option value="DAMA BIANCA INTENSO 105 COMPACT" data-maker="bianchi">DAMA BIANCA INTENSO 105 COMPACT</option>
      <option value="DAMA BIANCA IMPULSO 105 COMPACT" data-maker="bianchi">DAMA BIANCA IMPULSO 105 COMPACT</option>
      <option value="DAMA BIANCA VIA NIRONE 7 TIAGRA COMPACT" data-maker="bianchi">DAMA BIANCA VIA NIRONE 7 TIAGRA COMPACT</option>
      <option value="DAMA BIANCA VIA NIRONE 7 SORA COMPACT" data-maker="bianchi">DAMA BIANCA VIA NIRONE 7 SORA COMPACT</option>
      <!--その他-->
      <option value="AQUILA CV CARBON ULTEGRA" data-maker="bianchi">AQUILA CV CARBON ULTEGRA</option>
      <option value="AQUILA CV CARBON" data-maker="bianchi">AQUILA CV CARBON</option>
      <option value="ZURIGO TIAGRA 10SP" data-maker="bianchi">ZURIGO TIAGRA 10SP</option>
      <option value="SELVINO TIAGRA 10SP" data-maker="bianchi">SELVINO TIAGRA 10SP</option>
      <option value="ANCORA TIAGRA 10SP" data-maker="bianchi">ANCORA TIAGRA 10SP</option>
      <option value="LUPO DISC TIAGRA 10SP" data-maker="bianchi">LUPO DISC TIAGRA 10SP</option>
      <option value="VIA BRERA CLARIS 8SP" data-maker="bianchi">VIA BRERA CLARIS 8SP</option>
      <!--felt-->
      <!--AR-->
      <option value="Frame Kit AR1" data-maker="felt">Frame Kit AR1</option>
      <option value="AR3" data-maker="felt">AR3</option>
      <option value="AR5" data-maker="felt">AR5</option>
      <!--FR-->
      <option value="FR2" data-maker="felt">FR2</option>
      <option value="FR3" data-maker="felt">FR3</option>
      <option value="FR5" data-maker="felt">FR5</option>
      <option value="FR6" data-maker="felt">FR6</option>
      <option value="FR30" data-maker="felt">FR30</option>
      <option value="FR40" data-maker="felt">FR40</option>
      <option value="FR50" data-maker="felt">FR50</option>
      <option value="FR60" data-maker="felt">FR60</option>
      <option value="FR5W" data-maker="felt">FR5W</option>
      <option value="FR30W" data-maker="felt">FR30W</option>
      <option value="FR40W" data-maker="felt">FR40W</option>
      <option value="FR60W" data-maker="felt">FR60W</option>
      <!--VR-->
      <option value="VR3" data-maker="felt">VR3</option>
      <option value="VR5" data-maker="felt">VR5</option>
      <option value="VR6" data-maker="felt">VR6</option>
      <option value="VR30" data-maker="felt">VR30</option>
      <option value="VR40" data-maker="felt">VR40</option>
      <option value="VR50" data-maker="felt">VR50</option>
      <option value="VR60" data-maker="felt">VR60</option>
      <!--F-->
      <option value="F75" data-maker="felt">F75</option>
      <option value="F85" data-maker="felt">F85</option>
      <option value="F95" data-maker="felt">F95</option>
      <option value="F4x" data-maker="felt">F4x</option>
      <option value="F65x" data-maker="felt">F65x</option>
      <option value="F85x" data-maker="felt">F85x</option>
      <option value="F24x" data-maker="felt">F24x</option>
      <!--IA-->
      <option value="IA1" data-maker="felt">IA1</option>
      <option value="IA2" data-maker="felt">IA2</option>
      <option value="IA4" data-maker="felt">IA4</option>
      <option value="IA10" data-maker="felt">IA10</option>
      <option value="IA14" data-maker="felt">IA14</option>
      <option value="IA16" data-maker="felt">IA16</option>
      <!--B-->
      <option value="B14" data-maker="felt">B14</option>
      <!--Tk-->
      <option value="Tk2" data-maker="felt">Tk2</option>
      <option value="Tk3" data-maker="felt">Tk3</option>

  <!---->

  </select>
  <%repetition+=1%>
</p>
  <%end%>
    <p class="button"><%=button_to "簡単比較" %></p>
</div>

<script type="text/javascript">
$(function () {
    $("#maker").narrows("#name");
});
</script>
